@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

.navbar {
  background-image: url(../assets/img/art.jpeg);
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
